In [1]:
# !pip install -U sidrapy

In [3]:
import sidrapy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# Dados da CNT - Contas nacionais trimestrais
#https://apisidra.ibge.gov.br/values/t/1621/n1/all/v/all/p/all/c11255/90707,93406/d/v584%201
df_cnt = sidrapy.get_table(
    table_code='1621',
    territorial_level = "1",
    ibge_territorial_code = "all",
    variable="584",
    period = "all",
    classifications= {'11255':'90707,93406'},
    header='n')

In [9]:
df_cnt.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,1,Brasil,30,Número-índice,99.58,1,Brasil,199601,1º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
1,1,Brasil,30,Número-índice,96.84,1,Brasil,199601,1º trimestre 1996,584,Série encadeada do índice de volume trimestral...,93406,Formação bruta de capital fixo
2,1,Brasil,30,Número-índice,100.42,1,Brasil,199602,2º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
3,1,Brasil,30,Número-índice,98.72,1,Brasil,199602,2º trimestre 1996,584,Série encadeada do índice de volume trimestral...,93406,Formação bruta de capital fixo
4,1,Brasil,30,Número-índice,104.32,1,Brasil,199603,3º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado

In [10]:
# Taxa de investimento - CNT contas nacionais
#https://apisidra.ibge.gov.br/values/t/6727/n1/all/v/all/p/all/d/v2517%201
df_inv = sidrapy.get_table(
    table_code='6727',
    territorial_level = "1",
    ibge_territorial_code = "all",
    variable="2517",
    period = "all",
    header='n')

In [11]:
df_inv.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N
0,1,Brasil,2,%,18.7,1,Brasil,199601,1º trimestre 1996,2517,Taxa de investimento
1,1,Brasil,2,%,19.2,1,Brasil,199602,2º trimestre 1996,2517,Taxa de investimento
2,1,Brasil,2,%,18.7,1,Brasil,199603,3º trimestre 1996,2517,Taxa de investimento
3,1,Brasil,2,%,18.0,1,Brasil,199604,4º trimestre 1996,2517,Taxa de investimento
4,1,Brasil,2,%,19.5,1,Brasil,199701,1º trimestre 1997,2517,Taxa de investimento

In [42]:
pd.unique(df_cnt['D4N'])

df_pib

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,1,Brasil,30,Número-índice,99.58,1,Brasil,199601,1º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
1,1,Brasil,30,Número-índice,100.42,1,Brasil,199602,2º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
2,1,Brasil,30,Número-índice,104.32,1,Brasil,199603,3º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
3,1,Brasil,30,Número-índice,103.28,1,Brasil,199604,4º trimestre 1996,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
4,1,Brasil,30,Número-índice,104.21,1,Brasil,199701,1º trimestre 1997,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1,Brasil,30,Número-índice,182.26,1,Brasil,202301,1º trimestre 2023,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
109,1,Brasil,30,Número-índice,183.91,1,Brasil,202302,2º trimestre 2023,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
110,1,Brasil,30,Número-índice,184.02,1,Brasil,202303,3º trimestre 2023,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
111,1,Brasil,30,Número-índice,183.92,1,Brasil,202304,4º trimestre 2023,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado
112,1,Brasil,30,Número-índice,185.35,1,Brasil,202401,1º trimestre 2024,584,Série encadeada do índice de volume trimestral...,90707,PIB a preços de mercado

In [13]:
#--> PIB
df_pib = df_cnt.loc[df_cnt['D4N']=='PIB a preços de mercado'].reset_index(drop=True)
pib = df_pib.loc[:,('D2C','V')]
pib['D2C'] = pd.date_range('1996', periods=len(df_pib), freq='QS')
pib.rename(columns={'D2C':'data','V':'valor'}, inplace=True)

In [17]:
#--> Formação bruta de capital fixo
df_fbcf = df_cnt.loc[df_cnt['D4N']=='Formação bruta de capital fixo'].reset_index(drop=True)
fbcf = df_fbcf.loc[:,('D2C','V')]
fbcf['D2C'] = pd.date_range('1996', periods=len(df_fbcf), freq='QS')
fbcf.rename(columns={'D2C':'data','V':'valor'}, inplace=True)

In [34]:
#--> Taxa de investimento
tx_inv = df_inv.loc[:,('D2C','V')]
tx_inv['D2C'] = pd.date_range('1996', '2024-01-01', freq='QS')
tx_inv.rename(columns={'D2C':'data','V':'valor'}, inplace=True)

In [35]:
tx_inv

          data valor
0   1996-01-01  18.7
1   1996-04-01  19.2
2   1996-07-01  18.7
3   1996-10-01  18.0
4   1997-01-01  19.5
..         ...   ...
108 2023-01-01  17.1
109 2023-04-01  16.4
110 2023-07-01  16.6
111 2023-10-01  16.1
112 2024-01-01  16.9

[113 rows x 2 columns]

In [16]:
#seleciona os dados numa data especificada
def get_data(dado,ini,fim):
    index_ini = dado.loc[dado['data'] == ini].index[0]
    index_fim = dado.loc[dado['data'] == fim].index[0]

    dado = dado.iloc[index_ini:index_fim].reset_index(drop=True)

    return dado

#transforma o dataframe em time series devolvendo apenas os dados
def get_ts(dado):
    dado.index = dado['data']
    dado = dado['valor']

    return dado

ValueError: Length of values (108) does not match length of index (113)